<div class="row">

    <div class="col-sm-3 sub-menu">
        <div class="form-group">
            <select id="select2">
              
            </select>
            <button type="button" class="btn btn-success float-right btn-sm">Weiter</button>   
        </div>
        <br>

        <div id="tree"></div>
    </div>

    <div class="col-sm-9">
        <div class="card" style="height: 30px;">
            <h5 class="card-title text-muted text-center">Event codes</h5>        
        </div>   

        <p></p>
        Steuergerät auswählen
        <button type="button" class="btn btn-primary">Alle</button>
        <button type="button" class="btn btn-secondary">B</button>
        <button type="button" class="btn btn-secondary">C</button>
        <button type="button" class="btn btn-secondary">DM1</button>    
        
        <p></p>

        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" href="#Alle">Alle</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#Rot">Rot</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#Gleb">Gleb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Grau">Grau</a>
            </li>
        </ul>
        <p></p>
        
        <table id="example" class="display" style="width: 100%;">
            <!--<thead>
                <tr>
                    <th style="cursor: pointer;" class=""></th>
                    <th>Icon</th>
                    <th>Code</th>
                    <th>Description</th>                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><i class="fas fa-bomb"></i></td>
                    <td>100</td>
                    <td>Is a bomb</td>                
                </tr>
                <tr class="selected">
                    <td></td>
                    <td><i class="fas fa-exclamation-triangle"></i></td>
                    <td>101</td>
                    <td>Triangle ?</td>                
                </tr>

                <tr>
                    <td></td>
                    <td><i class="fas fa-head-side-mask"></i></td>
                    <td>102</td>
                    <td>Corona virus</td>                
                </tr>            

            </tbody>-->
        </table>

        

    </div>
</div>