<div class="row">

    <div class="col-sm-3 sub-menu">
        <div class="form-group">
            <select id="select2">
              
            </select>
            <button type="button" class="btn btn-success float-right btn-sm">Weiter</button>   
        </div>
        <br>

        <div id="tree"></div>
    </div>

    <div class="col-sm-9">
        <div class="card" style="height: 30px;">
            <h5 class="card-title text-muted text-center">Event codes</h5>        
        </div>   

        <p></p>
        Steuergerät auswählen
        <button type="button" class="system_filter btn btn-primary" data-value="all">Alle</button>
        <button type="button" class="system_filter btn btn-secondary" data-value="BOSCH">B</button>
        <button type="button" class="system_filter btn btn-secondary" data-value="CONTINENTAL">C</button>
        <button type="button" class="system_filter btn btn-secondary" data-value="DM1">DM1</button>    
        
        <p></p>

        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" href="#all">Alle</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#red">Rot</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#yellow">Gleb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#grey">Grau</a>
            </li>
        </ul>
        <p></p>
        <table id="data_table" class="display" style="width: 100%;"></table>
    </div>
</div>